streamlit
llama_index
llama_index_core
llama-index-embeddings-huggingface
llama-index-llms-ollama
torch
sentence-transformers
ollama
qdrant-client
llama_index.vector_stores.qdrant
fastembed
pre-commit